.container {
    max-width: 1140px;
    margin: auto;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #b4c3ff; */
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 30px 10px;
    padding: 10px 10px;
    font-weight: 700;
}

.coin-name {
    margin-left: -20px;
}

.coin-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #26272b; */
    /* box-shadow: 0px 0px 12px #18191b; */
    border-radius: 8px;
    margin: 16px 8px;
    padding: 5px 8px;
}

.coin-row:hover {
    transform: scale(1.04);
    transition: .3s ease-in-out;
    cursor: pointer;
}

img {
    height: 40px;
    margin-right: 8px;
    width: auto;
}

.img-symbol {
    display: flex;
    align-items: center;
}


