/* .info { */
    /* background-color: beige; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
/* } */

.render {
    display: flex;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 16px 8px;
    align-items: center;
    padding: 5px 8px;
    justify-content: space-around;
}

.render:hover {
    transform: scale(1.04);
    transition: .3s ease-in-out;
    cursor: pointer;
}

.watch-btn {
    border-radius: 8px;
    margin: 16px 8px;
    padding: 5px 8px;
}

/* .name {
    margin-right: 80%;
    font-weight: 1000;
} */

